In [1]:
import pandas as pd
import os

## import file
change the output directory, the filename and the url according to the file you are working with
pay attention to use the **raw** url from github
Note: due to the token the url of the file changes, so it may have to be updated

In [ ]:
directory = "/groups/gerlich/members/ZsuzsannaTakacs/DataScience/PythonBookClub/Tidy_data_Homework/Localinput/"
df = pd.read_csv(os.path.join(directory, "Area.txt"))

In [14]:
for filename in os.listdir(directory):
    if filename.endswith('txt'):
        with open(os.path.join(directory, filename)) as f:
            df = pd.read_csv(f, sep = '\t')
            df = pd.melt(df, id_vars = "Absolute time", var_name='trace')
            df['trace'] = df['trace'].str.replace('Trace', '').astype('float')
            df.to_csv(os.path.join(directory, f'{filename}_tidy.csv'), index = False)

In [10]:
df

      Absolute time  trace      value
0                 0  140.0  10.174491
1                 1  140.0  10.353073
2                 2  140.0  10.681156
3                 3  140.0  11.076791
4                 4  140.0  11.224663
...             ...    ...        ...
1405              0  205.0  13.157822
1406              1  205.0  13.545046
1407              2  205.0  14.583050
1408              3  205.0  15.392530
1409              4  205.0  16.284399

[1410 rows x 3 columns]

tidy data: transform column variables into values